---
import Link from "../../global/Link.astro";
import ExpandableSection from "../ExpandableSection.astro";
import langRender from "../../../utilities/langRender";
import getCurrentLang from "../../../utilities/getCurrentLang";
const lang = getCurrentLang(Astro.url.pathname);
---

<ExpandableSection black padding="14rem 2rem 6.25rem">
  <h2>
    {
      langRender(lang, {
        es: "¿Tienes alguna idea? ¡Hablemos de tu proyecto!",
        en: "Do you have Project Idea? Let's discuss your project!",
      })
    }
  </h2>
  <p>
    {
      langRender(lang, {
        es: "Trabajemos juntos para asegurarnos que tu proyecto cumpla tus necesidades y exceda tus espectativas.",
        en: "We can work together to ensure your project meets your needs and exceeds your expectations.",
      })
    }
  </p>
  <Link
    text={langRender(lang, {
      es: "Hagámoslo",
      en: "Let's work Together",
    })}
    to="#contact"
    primary
  >
    <i class="fa-solid fa-arrow-right" slot="right"></i>
  </Link>
</ExpandableSection>

<style lang="scss">
  @import "/src/styles/variables";

  h2 {
    @include heading-1;
    color: $white;
    width: 38.75rem;
    max-width: 100%;
    text-align: center;
  }

  p {
    @include body-1;
    width: 36rem;
    max-width: 100%;
    color: $gray-300;
    text-align: center;
  }
</style>
