---
import Link from "../../global/Link.astro";
import SocialContainer from "../FirstSection/SocialContainer.astro";
import ContactCardDescription from "./ContactCardDescription.astro";
import DataCard from "./DataCard.astro";
---

<div class="content" id="contact">
  <div class="column left">
    <ContactCardDescription />
    <div class="data-cards">
      <DataCard title="Address:" active>
        <i class="fa-solid fa-location-dot" slot="icon"></i>
        <address>Cochabamba, Pacata Alta</address>
      </DataCard>
      <DataCard title="My Email:">
        <i class="fa-solid fa-location-dot" slot="icon"></i>
        <address>maummq@gmail.com</address>
      </DataCard>
      <DataCard title="Call Me Now:">
        <i class="fa-solid fa-location-dot" slot="icon"></i>
        <address>(591) 76407344</address>
      </DataCard>
    </div>
  </div>
  <div class="column right">
    <p>
      Click the button below and let's get started on building your online dream today. 
    </p>
    <Link text="Send me an email" to="mailto:maummq@gmail.com" primary>
      <i class="fa-regular fa-envelope" slot="right"></i>
    </Link>
    <p>
      Or contact me by my social media. 
    </p>
    <SocialContainer blank gap />
  </div>
</div>

<script>
  import changeActive from "../../../utilities/changeActive";
  const cards = document.querySelectorAll('.data-card-container');
  changeActive(cards, 2000);
</script>

<style lang="scss">
  @import '/src/styles/variables.scss';
  
  .content {
		scroll-margin: 4rem;
    padding: 5.5rem;
    display: flex;
    gap: 6.5rem;
    box-shadow: $box-shadow-200;
    border-radius: 1rem;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 31.7rem;
    gap: 2.125rem;
  }

  .right {
    width: 35rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;

    & > p {
      color: $gray-400;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }

  .data-cards {
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }
</style>
