---
import InputText from "../../global/InputText.astro";
import Link from "../../global/Link.astro";

---

<form>
  <div>
    <InputText type="text" name="name" placeholder="Name*" required />
    <InputText type="email" name="email" placeholder="Email*" required />
    <InputText type="text" name="location" placeholder="Location" />
    <div>
      <InputText type="text" name="subject" placeholder="Subject*" required />
      <InputText type="text" name="budget" placeholder="Budget" />
    </div>
    <InputText type="text" name="message" placeholder="Message*" />
  </div>
  <Link text="Submit" to="#" primary>
    <i class="fa-solid fa-paper-plane" slot="right"></i>
  </Link>
</form>

<style lang="scss">
  @import '/src/styles/variables.scss';
  
  form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    & > div {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      & > div {
        display: flex;
        gap: 1.5rem;

        & input:last-child {
          flex-grow: 2;
        }
      }
    }
  }
</style>