---
---

<div>
  <h2>Let’s discuss your Project</h2>
  <p>Let's start a conversation and see how we can make your project a success!</p>
</div>

<style lang="scss">
  @import '/src/styles/variables';
  
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h2 {
    @include heading-2;
  }

  p {
    @include body-1;
    color: $gray-400;
  }
</style>