---
import IconBlock from '../../global/IconBlock.astro';

interface Props {
  title: string
  active?: boolean
}

const { title, active }: Props = Astro.props; 
---

<div class:list={['data-card-container', { active }]}>
  <IconBlock padding=".75rem" size="1.5rem" >
    <slot name="icon" />
  </IconBlock>
  <div>
    <p>{ title }</p>
    <slot />
  </div>
</div>

<style lang="scss">
  @import '/src/styles/variables';
  
  .data-card-container {
    padding: 1.5rem;
    display: flex;
    gap: .75rem;
    border-radius: .75rem;
    width: 20.75rem;
    transition: all 1s;
  
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    *:last-child {
      @include body-2;
      font-weight: 500;
      color: $gray-900;
    }
  }

  .active {
    background-color: #FFFFFF;
    box-shadow: 0px .75rem 6.5rem rgba(28, 25, 25, 0.2);
  }

  p {
    @include body-3;
    color: $gray-700;
  }
</style>