---
interface Props {
  id?: string
}

const { id } = Astro.props;
---

<div id={id}>
  <h2>Featured Projects</h2>
  <p>
    Each project I take on is a unique opportunity to showcase my skills and creativity, 
    and I am thrilled to share them with you.
  </p>
</div>

<style lang="scss">
  @import '/src/styles/variables';
  
  div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    max-width: 100%;

    & > h2 {
      @include heading-1;
    }

    & > p {
      @include body-1;
      color: $gray-400;
      max-width: 36rem;
    }
  }
</style>