---
import Link from "../../global/Link.astro";
---

<ul class="navbar-list">
  <li>
    <Link text="Home" to="#" />
  </li>
  <li>
    <Link text="About" to="#" />
  </li>
  <li>
    <Link text="Tools" to="#" />
  </li>
  <li>
    <Link text="Projects" to="#" />
  </li>
  <li>
    <Link text="Blogs" to="#" />
  </li>
  <li>
    <Link text="Contact" to="#" primary />
  </li>
</ul>

<style lang="scss">
  .navbar-list {
    display: flex;
    list-style: none;
  }
</style>