---
interface Props {
  title: string
  description: string
}

const { title, description }: Props = Astro.props;
---

<div class="card">
  <div class="icon-container">
    <div>
      <slot name="icon" />
    </div>
  </div>
  <div class="text">
    <h3>{ title }</h3>
    <p>{ description }</p>
  </div>
</div>

<style lang="scss">
  @import '/src/styles/variables.scss';
  
  .card {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $white;
    border-radius: .75rem;
  }

  .icon-container {
    color: $primary-500;
    background-color: $secondary-100-transparent;
    padding: 1.25rem;
    width: max-content;
    border-radius: .5rem;
    transition: all 0.3s;

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.25rem;
      height: 1.25rem;
      font-size: 1.25rem;
    }
  }

  .card:hover .icon-container {
    color: $white;
    background-color: $primary-500;
  }

  .text {
    width: 15.5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }

  h3 {
    color: $gray-900;
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    color: $gray-600;
    line-height: 1.5rem;
  }
</style>