---
import IconBlock from '../../global/IconBlock.astro';

interface Props {
  title: string
  description: string
}

const { title, description }: Props = Astro.props;
---

<div class="icon-card-container" id="tools">
  <IconBlock padding="1.25rem" size="1.25rem">
    <slot name="icon" />
  </IconBlock>
  <div class="text">
    <h3>{ title }</h3>
    <p>{ description }</p>
  </div>
</div>

<style lang="scss">
  @import '/src/styles/variables.scss';
  
  .icon-card-container {
		scroll-margin: 6rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $white;
    border-radius: .75rem;
  }

  .text {
    width: 15.5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
  }

  h3 {
    color: $gray-900;
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    color: $gray-600;
    line-height: 1.5rem;
  }
</style>