---
import Description from "./Description.astro";
import IconCard from "./IconCard.astro";
---

<section class="second-section">
  <Description />
  <div class="columns">
    <div class="row">
      <IconCard 
        title="React"
        description="A revolutionary way to build modern, fast and interactive web applications."
      >
        <i class="fa-brands fa-react" slot="icon"></i>
      </IconCard>
      <IconCard 
        title="Git & Github"
        description="A fascinating tool to collaborate and keep track of the projects."
      >
        <i class="fa-brands fa-github" slot="icon"></i>
      </IconCard>
    </div>
    <div class="row">
      <IconCard 
        title="Javascript & Typescript"
        description="These technologies are used to maximize the potential of your application."
      >
        <i class="fa-brands fa-square-js" slot="icon"></i>
      </IconCard>
      <IconCard 
        title="HTML & Sass"
        description="This technology duo provide the perfect foundation for your creative vision."
      >
      <i class="fa-brands fa-sass" slot="icon"></i>
      </IconCard>
    </div>
  </div>
</section>

<script>
  import changeActive from "../../../utilities/changeActive";
  const icons = document.querySelectorAll('.icon-card-container .icon-container');
  changeActive(icons, 3000);
</script>

<style lang="scss">
  @import '/src/styles/variables.scss';
  
  .second-section {
    height: calc(120dvh - $navbar-height);
    background-color: $gray-50;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9rem;
  }

  .columns {
    display: flex;
    gap: 1.5rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &:first-child {
      margin-bottom: 1.5rem;
    }
    &:last-child {
      margin-top: 1.5rem;
    }
  }
</style>