---
---

<section class="second-section">

</section>

<style lang="scss">
  @import '/src/styles/variables.scss';
  
  .second-section {
    height: calc(100dvh - $navbar-height);
    background-color: $gray-50;
  }
</style>