$white: #FFFFFF;
$black: #333333;

$primary-100: #FFE6D8;
$primary-200: #FFC4B1;
$primary-300: #FFB58B;
$primary-400: #FF9C64;
$primary-500: #FF8F3D;
$primary-600: #CC6931;
$primary-700: #994F25;
$primary-800: #663418;
$primary-900: #33180C;

$secondary-100: #EDD8FF;
$secondary-100-transparent: rgba(237, 216, 255, .5);

$gray-50: #F0F1F3;
$gray-100: #E6E8EB;
$gray-200: #C3C7CE;
$gray-300: #A5ACB5;
$gray-400: #87909D;
$gray-500: #697484;
$gray-600: #556070;
$gray-700: #424E60;
$gray-800: #2B384C;
$gray-900: #132238;

$navbar-height: 6rem;