$white: #FFFFFF;
$white-transparent: rgba(255, 255, 255, 0.8);
$black: #333333;

$primary-100: #FFE6D8;
$primary-200: #FFC4B1;
$primary-300: #FFB58B;
$primary-400: #FF9C64;
$primary-500: #FF8F3D;
$primary-500-transparent: rgb(255, 143, 61, .2);
$primary-600: #CC6931;
$primary-700: #994F25;
$primary-800: #663418;
$primary-900: #33180C;

$secondary-100: #EDD8FF;
$secondary-100-transparent: rgba(237, 216, 255, .5);

$gray-50: #F0F1F3;
$gray-100: #E6E8EB;
$gray-200: #C3C7CE;
$gray-300: #A5ACB5;
$gray-400: #87909D;
$gray-500: #697484;
$gray-600: #556070;
$gray-700: #424E60;
$gray-800: #2B384C;
$gray-900: #132238;

$box-shadow-100: 0px .75rem 4rem rgba(28, 25, 25, 0.2);
$box-shadow-200: 0px .75rem 6.5rem rgba(28, 25, 25, 0.2);

$navbar-height: 6rem;

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $gray-50;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-500;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary-500;
  }
}

@mixin display {
  $size: 4.5rem;
  font-weight: 600;
  font-size: $size;
  color: $gray-900;

  @media screen and (max-width: 1130px) {
    $size: 3rem;
    font-weight: 600;
    font-size: $size;
    line-height: $size * 1.17;
    color: $gray-900;
  }
}

@mixin heading-1 {
  $size: 3rem;
  font-weight: 600;
  font-size: $size;
  line-height: $size * 1.17;
  color: $gray-900;

  @media screen and (max-width: 1130px) {
    $size: 2.375rem;
    font-weight: 600;
    font-size: $size;
    line-height: $size * 1.30;
  }
}

@mixin heading-2 {
  $size: 2.375rem;
  font-weight: 600;
  font-size: $size;
  line-height: $size * 1.30;
  color: $gray-900;

  @media screen and (max-width: 1130px) {
    $size: 2rem;
    font-weight: 600;
    font-size: $size;
    line-height: $size * 1.25;
  }
}

@mixin heading-3 {
  $size: 2rem;
  font-weight: 600;
  font-size: $size;
  line-height: $size * 1.25;
  color: $gray-900;

  @media screen and (max-width: 1130px) {
    $size: 1.5rem;
    font-weight: 600;
    font-size: $size;
    line-height: $size * 1.25;
  }
}

@mixin heading-4 {
  $size: 1.5rem;
  font-weight: 600;
  font-size: $size;
  line-height: $size * 1.25;
  color: $gray-900;

  @media screen and (max-width: 1130px) {
    $size: 1.25rem;
    font-weight: 600;
    font-size: $size;
    line-height: $size * 1.2;
  }
}

@mixin heading-5 {
  $size: 1.25rem;
  font-weight: 600;
  font-size: $size;
  line-height: $size * 1.2;
}

@mixin body-1 {
  $size: 1.125rem;
  font-size: $size;
  line-height: $size * 1.33;
  color: $gray-500;
  
  @media screen and (max-width: 1130px) {
    $size: 1rem;
    font-size: $size;
    line-height: $size * 1.5;
  }
}

@mixin body-2 {
  $size: 1rem;
  font-size: $size;
  line-height: $size * 1.5;
  color: $gray-500;
  
  @media screen and (max-width: 1130px) {
    $size: .875rem;
    font-size: $size;
    line-height: $size * 1.43;
  }
}

@mixin body-3 {
  $size: .875rem;
  font-size: $size;
  line-height: $size * 1.43;
  color: $gray-500;
  
  @media screen and (max-width: 1130px) {
    $size: .75rem;
    font-size: $size;
    line-height: $size * 1.33;
  }
}

@mixin body-4 {
  $size: .75rem;
  font-size: $size;
  line-height: $size * 1.33;
  color: $gray-500;
}