---
import Footer from './Footer/Footer.astro';
import Cursor from './Misc/Cursor.astro';
import Navbar from './Navbar/Navbar.astro';
import Logo from '../../assets/images/logo.png';

interface Props {
  title: string
}

const { title }: Props = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={Logo} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/db678f56b4.js" crossorigin="anonymous"></script>
		<title>{ title } - Mauricio Molina</title>
	</head>
	<body>
		<Cursor />
		<Navbar />
		<main>
      <slot />
		</main>
		<Footer />
	</body>
</html>

<style lang="scss" is:global>
	@import '/src/styles/variables';

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Work Sans';
		cursor: none;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding: $navbar-height;
	}

	body {
		@include scrollbar();
	}

	main {
		margin-top: $navbar-height;
	}

	/* CSS ANIMATIONS ON SCROLL */

  .animationNone {
    animation: none;
  }

  .appear100 {
    opacity: 0;
    animation: onlyOpacity100 linear forwards;
    animation-timeline: view();
    animation-range: -200px 120px;
  }

  @keyframes onlyOpacity100 {
    to {
      opacity: 1;
    }
  }

  .appear80 {
    opacity: 0;
    animation: onlyOpacity80 linear forwards;
    animation-timeline: view();
    animation-range: 100px 350px;
  }

  @keyframes onlyOpacity80 {
    to {
      opacity: .8;
    }
  }

  .fadeIn {
    scale: .8;
    opacity: 0;
    filter: blur(5px);
    animation: fadeInLeft linear forwards;
    animation-timeline: view();
    animation-range: 100px 350px;
  }

  @keyframes fadeInLeft {
    to {
      scale: 1;
      opacity: 1;
      filter: none;
    }
  }

  .fadeInLeft100 {
    scale: .8;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    animation: fadeInLeft linear forwards;
    animation-timeline: view();
    animation-range: 100px 350px;
  }

  .fadeInLeft50 {
    scale: .8;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    animation: fadeInLeft linear forwards;
    animation-timeline: view();
    animation-range: 100px 300px;
  }

  @keyframes fadeInLeft {
    to {
      scale: 1;
      opacity: 1;
      filter: none;
      transform: translateX(0);
    }
  }
</style>