---
import FirstSection from "../components/index/FirstSection/FirstSection.astro";
import Navbar from "../components/index/Navbar/Navbar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<main>
			<FirstSection />
		</main>
	</body>
</html>

<style lang="scss" is:global>
	@import 'src/styles/variables.scss';

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Work Sans';
	}

	main {
		margin-top: $navbar-height;
	}
</style>