---
import Link from "../../global/Link.astro";
import Strong from "../../global/Strong.astro";
---

<div class="first-description">
  <h2>Hello, I’m Mauricio Molina.</h2>
  <p>
    I'm a <Strong primary>Web developer</Strong> and <Strong primary>Software engineer</Strong> based in Cochabamba, Bolivia. 
    I strives to make beautiful and inmersive web applications 
    through carefully crafted code and intuitive design.
  </p>
  <Link 
    text="Say Hello!" 
    to="https://wa.me/59176407344" 
    primary 
    blank
  ><i class="fa-brands fa-whatsapp" slot="right"></i></Link>
</div>

<style lang="scss">
  @import '/src/styles/variables.scss';

  .first-description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40.5rem;

    & > h2 {
      font-size: 4.5rem;
      color: $gray-900;
    }
    & > p {
      font-size: 1.125rem;
      color: $gray-600;
      line-height: 1.5rem;
    }
  }
</style>