---
import ProfilePic from "../../../assets/images/index/profile2.png";
import SocialContainer from "./SocialContainer.astro";
import DevCardDescription from "./DevCardDescription.astro";
---

<div class="dev-card" id="about">
  <div class="dev-card-positioner">
    <img src={ProfilePic} alt="Mauricio-img-card" />
    <div class="absolute">
      <SocialContainer blank white padding shadow />
    </div>
  </div>
  <DevCardDescription />
</div>

<style lang="scss">
  @import '/src/styles/variables';
  
  .dev-card {
    width: 100%;
    max-width: 85rem;
		scroll-margin: 3.5rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: $white;
    border-radius: 1.5rem;
    box-shadow: $box-shadow-200;

    @media screen and (max-width: 1290px) {
      padding: 4rem;
    }

    @media screen and (max-width: 1130px) {
      position: static;
      transform: none;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .dev-card-positioner {
    position: relative;

    & > img {
      height: 31.5rem;
      width: 26.5rem;
      max-width: 33.5rem;
      min-width: 25rem;
      border-radius: 1.5rem;
      object-fit: cover;
    }

    & > .absolute {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
</style>