---
import Link from "../../global/Link.astro";
---

<div class="description-container">
  <h2>I am Professional Full-stack Developer</h2>
  <div class="paragraphs">
    <p>
      My main focus is on creating exceptional digital experiences that enhance user engagement and improve business performance. 
      From designing eye-catching layouts to developing responsive and user-friendly interfaces, 
      I bring creativity and innovation to every project I undertake, 
      ensuring that each website or service I create is not only visually stunning but also highly effective.
    </p>
    <p>I specialize in crafting visually appealing and functional websites, web services, and online apps for my clients.</p>
  </div>
  <div class="buttons">
    <!-- <Link to="#" text="My project" primary /> -->
    <Link to="/src/assets/documents/curriculum_vitae.pdf" download text="Download CV" white >
      <i class="fa-solid fa-download" slot="left"></i>
    </Link>
  </div>
</div>

<style lang="scss">
  @import '/src/styles/variables';
  
  .description-container {
    width: 33.5rem; 
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & > h2 {
      @include heading-2;
    }
    
    @media screen and (max-width: 960px) {
      max-width: 100%;
      align-items: center;
    }
  }

  .paragraphs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > p {
      @include body-1;
      color: $gray-400;
    }
  }

  .buttons {
    display: flex;
    gap: 1.5rem;
  }
</style>