---
import ProfilePic from "../../../assets/images/index/profile2.png";
import SocialContainer from "./SocialContainer.astro";
import DevCardDescription from "./DevCardDescription.astro";
---

<div class="dev-card appear100" id="about">
  <div class="dev-card-positioner">
    <img src={ProfilePic} alt="Mauricio-img-card" />
    <div class="absolute">
      <SocialContainer blank white padding shadow />
    </div>
  </div>
  <DevCardDescription />
</div>

<style lang="scss">
  @import '/src/styles/variables';
  
  .dev-card {
    width: 100%;
    max-width: 85rem;
		scroll-margin: 3.5rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: $white;
    border-radius: 1.5rem;
    box-shadow: $box-shadow-200;
    z-index: 10;

    @media screen and (max-width: 1290px) {
      padding: 4rem;
      justify-content: center;
    }

    @media screen and (max-width: 1130px), (max-height: 830px) {
      position: static;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      max-width: unset;
		  scroll-margin: 0;
    }

    @media screen and (max-width: 960px) {
      flex-direction: column;
      gap: 4rem;
      padding: 2rem;
    }
  }

  .dev-card-positioner {
    position: relative;

    & > .absolute {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  img {
    height: 31.5rem;
    width: 26.5rem;
    border-radius: 1.5rem;
    object-fit: cover;

    @media screen and (max-width: 960px) {
      height: 20rem;
      width: 20rem;
    }
  }
</style>