---
import Description from "./Description.astro";
import Stats from "./Stats.astro";
import ProfilePic from "../../../assets/images/index/profile.png";
import Picture from "../../global/Picture.astro";
import DevCard from "./DevCard.astro";
import GlimpseContainer from "../../global/Glimpse/GlimpseContainer.astro";
import Glimpse from "../../global/Glimpse/Glimpse.astro";
---

<section id="home" class="first-section">
  <div class="first-section-info">
    <div class="first-section-left">
      <Description />
      <Stats />
    </div>
    <Picture src={ProfilePic} alt="Mauricio-photo" height="39.75rem" width="33.5rem" />
  </div>
  <DevCard />
  <GlimpseContainer>
    <Glimpse left="90%" top="-50%" primary />
    <Glimpse left="80%" top="50%" secondary />
    <Glimpse left="10%" top="90%" primary />
  </GlimpseContainer>
</section>

<style lang="scss">
  @import '/src/styles/variables.scss';

  .first-section {
    height: calc(180dvh - $navbar-height);
    position: relative;
    isolation: isolate;
  }

  .first-section-info {
    height: calc(100dvh - $navbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.5rem;
    scroll-margin: 0;
  }

  .first-section-left {
    height: 39.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8.875rem;
  }
</style>