---
import Description from "./Description.astro";
import Stats from "./Stats.astro";
import ProfilePic from "../../../assets/images/index/pic2.jpg";
import DevCard from "./DevCard.astro";
import GlimpseContainer from "../../global/Glimpse/GlimpseContainer.astro";
import Glimpse from "../../global/Glimpse/Glimpse.astro";
---

<section id="home" class="first-section">
  <div class="first-section-info">
    <div class="first-section-left">
      <Description />
      <Stats />
    </div>
    <img 
      src={ProfilePic} 
      alt="Mauricio-photo" 
    />
  </div>
  <DevCard />
  <GlimpseContainer>
    <Glimpse left="90%" top="-30%" delay="0" primary />
    <Glimpse left="80%" top="50%" delay="200ms" secondary />
    <Glimpse left="10%" top="80%" delay="600ms" primary />
  </GlimpseContainer>
</section>

<style lang="scss">
  @import '/src/styles/variables';

  .first-section {
    min-height: calc(180dvh - $navbar-height);
    position: relative;
    isolation: isolate;
  }

  .first-section-info {
    min-height: calc(100dvh - $navbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.5rem;
    scroll-margin: 0;
    padding: 2rem;

    & > img {
      height: 39.75rem;
      width: 33.5rem;
      max-width: 33.5rem;
      min-width: 25rem;
      border-radius: 1.5rem;
      object-fit: cover;
    }

    @media screen and (max-width: 1130px) {
      max-height: unset;
      flex-direction: column-reverse;
      gap: 3rem;

      & > img {
        height: 20rem;
        width: 30rem;
        max-width: 100%;
        min-width: unset;
      }
    }
  }

  .first-section-left {
    height: 39.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8.875rem;
    z-index: 10;

    @media screen and (max-width: 1290px) {
      gap: 3rem;
    }

    @media screen and (max-width: 1130px) {
      height: auto;
    }
  }
</style>