---
interface Props {
  stadistic: string
  text: string
}

const { stadistic, text }: Props = Astro.props;
---

<div class="stat">
  <b>{ stadistic }</b>
  <p>{ text }</p>
</div>

<style lang="scss">
  @import '/src/styles/variables';

  .stat {
    background-color: $secondary-100-transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    padding: .5rem;

    & b {
      @include heading-3;
      color: $gray-700;
    }
    & p {
      @include body-2;
    }
  }
</style>
