---
import getCurrentLang from "../../../utilities/getCurrentLang";
import langRender from "../../../utilities/langRender";
import Stat from "./Stat.astro";
const lang = getCurrentLang(Astro.url.pathname);
---

<div class="stadistics">
  <Stat
    stadistic={langRender(lang, {
      es: "2 A.",
      en: "2 Y.",
    })}
    text={langRender(lang, {
      es: "Experiencia",
      en: "Experience",
    })}
  />
  <Stat
    stadistic={
      langRender(lang, {
        es: "+8",
        en: "8+",
      })
    }
    text={
      langRender(lang, {
        es: "Proyectos completados",
        en: "Project finished",
      })
    }
  />
  <Stat stadistic={
    langRender(lang, {
      es: "+20",
      en: "20+",
    })
  } text={
    langRender(lang, {
      es: "Tecnologías",
      en: "Technologies",
    })
  } />
</div>

<style lang="scss">
  .stadistics {
    width: 100%;
    display: flex;
    height: 6.625rem;
    border-radius: 0.375rem;
    gap: 0.125rem;
    overflow: hidden;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      height: auto;
    }
  }
</style>
