---
---

<p>
  <em>Copyright &copy; Mauricio Molina 2022-2024 ♡</em>
  <em class="op">Astro 2.0</em>
</p>

<style lang="scss">
  @import "/src/styles/variables";

  p {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  em {
    font-size: 0.75rem;
    font-style: normal;
    color: $gray-50;
  }

  .op {
    opacity: 0.6;
  }
</style>
