---
---

<p><em>Copyright 2023 Mauricio Molina &copy;</em></p>

<style lang="scss">
  @import '/src/styles/variables';

  p {
    text-align: center;
  }

  em {
    font-size: .75rem;
    font-style: normal;
    color: $gray-50;
  }
</style>