---
import Links from "../Navbar/Links.astro";
import LinksImgModal from "../Navbar/LinksImgModal.astro";
import ImgModal from "../Misc/ImgModal.astro";
import Logo from "../Navbar/Logo.astro";
import Copyright from "./Copyright.astro";

import Certificate1 from "../../../assets/certificates/doc1.jpg";
import Certificate2 from "../../../assets/certificates/doc2.jpg";
import Certificate3 from "../../../assets/certificates/doc3.jpg";
import Certificate4 from "../../../assets/certificates/doc4.jpg";
import Certificate5 from "../../../assets/certificates/doc5.jpg";

const certificationLinks = [{
  text: "Unifranz - Backend Developer - 2022",
  src: Certificate1
}, {
  text: "Unifranz - Hack24 Culture Against Violence - 2022",
  src: Certificate2
}, {
  text: "AssureSoft - 1st Programming Championship - 2022",
  src: Certificate3
}, {
  text: "Unifranz - Cubierto multi-disciplinary - 2023",
  src: Certificate4
}, {
  text: "Cochabamba Tourism Mayor's office - Cubierto - 2023",
  src: Certificate5
}]
---

<footer>
  <div>
    <Logo white />
    <Links gray wrap />
  </div>
  <div class="column">
    <h4>Certifications</h4>
    <LinksImgModal little gray column links={certificationLinks} />
  </div>
  <Copyright />
</footer>

<style lang="scss">
  @import '/src/styles/variables';
  
  footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: $gray-800;
    padding: 4rem 0;

    & > div {
      display: flex;
      gap: 2rem;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    & > h4 {
      font-size: 1.25rem;
      color: $white;
      text-align: center;
    }
  }
</style>