---
import Links from "../Navbar/Links.astro";
import LinksImgModal from "../Navbar/LinksImgModal.astro";
import Logo from "../Navbar/Logo.astro";
import Copyright from "./Copyright.astro";

import Certificate1 from "../../../assets/certificates/doc1.jpg";
import Certificate2 from "../../../assets/certificates/doc2.jpg";
import Certificate3 from "../../../assets/certificates/doc3.jpg";
import Certificate4 from "../../../assets/certificates/doc4.jpg";
import Certificate5 from "../../../assets/certificates/doc5.jpg";
import getCurrentLang from "../../../utilities/getCurrentLang";
import langRender from "../../../utilities/langRender";

const pathname = Astro.url.pathname;
const lang = getCurrentLang(pathname);

const certificationLinks = [
  {
    text: langRender(lang, {
      es: "Unifranz - Desarrollador Backend - 2022",
      en: "Unifranz - Backend Developer - 2022",
    }),
    src: Certificate1,
  },
  {
    text: langRender(lang, {
      es: "Unifranz - Hack24 Cultura contra la violencia - 2022",
      en: "Unifranz - Hack24 Culture Against Violence - 2022",
    }),
    src: Certificate2,
  },
  {
    text: langRender(lang, {
      es: "AssureSoft - 1er Concurso de Programación - 2022",
      en: "AssureSoft - 1st Programming Championship - 2022",
    }),
    src: Certificate3,
  },
  {
    text: langRender(lang, {
      es: "Unifranz - Cubierto multi-disciplinario - 2023",
      en: "Unifranz - Cubierto multi-disciplinary - 2023",
    }) ,
    src: Certificate4,
  },
  {
    text: langRender(lang, {
      es: "Alcaldía de Turismo Cochabamba - Cubierto - 2022",
      en: "Cochabamba Tourism Mayor's office - Cubierto - 2023",
    }),
    src: Certificate5,
  },
];
---

<footer>
  <div>
    <Logo white />
    <Links gray wrap />
  </div>
  <div class="column">
    <h4>
      {
        langRender(lang, {
          es: "Certificados",
          en: "Certificates",
        })
      }
    </h4>
    <LinksImgModal little gray column links={certificationLinks} />
  </div>
  <Copyright />
</footer>

<style lang="scss">
  @import "/src/styles/variables";

  footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: $gray-800;
    padding: 4rem 0;

    & > div {
      display: flex;
      gap: 2rem;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & > h4 {
      font-size: 1.25rem;
      color: $white;
      text-align: center;
    }
  }
</style>
