---
import Links from "../Navbar/Links.astro";
import Logo from "../Navbar/Logo.astro";
import Copyright from "./Copyright.astro";

const certificationLinks = [{
  text: "Unifranz - Backend Developer",
  to: "https://drive.google.com/file/d/1w9XJ7wO0zQIseMCxMbLSblcL9LdbKV_B/view?usp=sharing"
}, {
  text: "Unifranz - Hack24 Culture Against Violence",
  to: "https://drive.google.com/file/d/1MfZPwzkXUPZBJIU-7b1ngdwONvyN_RYz/view?usp=sharing"
}, {
  text: "AssureSoft - 1st Programming Championship",
  to: "https://drive.google.com/file/d/1Gw2dOLtHkVo5uBc2uWMiF3vwjEUhbgYb/view?usp=sharing"
}]
---

<footer>
  <div>
    <Logo white />
    <Links gray wrap />
  </div>
  <div class="column">
    <h4>Certifications</h4>
    <Links little gray column links={certificationLinks} />
  </div>
  <Copyright />
</footer>

<style lang="scss">
  @import '/src/styles/variables';
  
  footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: $gray-800;
    padding: 4rem 0;

    & > div {
      display: flex;
      gap: 2rem;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    & > h4 {
      font-size: 1.25rem;
      color: $white;
      text-align: center;
    }
  }
</style>