---
interface Props {
  top: string
  left: string
  delay: string
  primary?: boolean
  secondary?: boolean
}

const { top, left, primary, secondary, delay }: Props = Astro.props;
---

<div class:list={['glimpse', { primary: primary, secondary: secondary }]}></div>

<style lang="scss" define:vars={{ top, left, delay }}>
  @import '/src/styles/variables';

  .glimpse {
    position: absolute;
    width: 55rem;
    height: 55rem;
    background: var(--color);
    filter: blur(300px);
    top: var(--top);
    left: var(--left);
    opacity: 0.4;
    animation: move 6s ease infinite;
    animation-delay: var(--delay);
  }
  
  .primary {
    background: $primary-500;
  }

  .secondary {
    background: $secondary-100;
  }

  @keyframes move {
    0% {
      transform: translateY(-400px);
    }
    50% {
      transform: translateY(400px);
    }
    100% {
      transform: translateY(-400px);
    }
  }
</style>