---
import ProfilePic from '../../../assets/images/index/profile.png';

interface Props {
  white?: boolean
}

const { white }: Props = Astro.props;
---

<div class="navbar-logo-container">
  <img src={ProfilePic} alt="profile-pic" />
  <h1 class:list={[{ white }]}>Mauricio</h1>
</div>

<style lang="scss">
  @import '/src/styles/variables';

  .navbar-logo-container {
    display: flex;
    gap: 0.75rem;
    align-items: center;

    & > img {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
    & > h1 {
      font-size: 2rem;
      font-weight: 600;
      color: $gray-900;
    }
  }

  .white {
    color: $white !important;
  }
</style>
