---
interface Props {
  black?: boolean
  gray?: boolean
  id?: string
}

const { black, gray, id } = Astro.props;
---

<section class:list={{black, gray}} id={id}>
  <slot />
</section>

<style lang="scss">
  @import '/src/styles/variables.scss';
  
  section {
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    align-items: center;
    justify-content: center;
    padding: 6.25rem 0;
  }

  .black {
    background-color: $gray-900;
  }

  .gray {
    background-color: $gray-50;
  }
</style>