---
interface Props {
  black?: boolean;
  gray?: boolean;
  id?: string;
  padding?: string;
  animate?: boolean;
}

const { black, gray, id, padding = "6.25rem 2rem", animate } = Astro.props;
---

<section class:list={{ black, gray, fadeIn: animate }} id={id}>
  <slot />
</section>

<style lang="scss" define:vars={{ sectionPadding: padding }}>
  @import "/src/styles/variables";

  section {
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    align-items: center;
    justify-content: center;
    padding: var(--sectionPadding);

    @media screen and (max-width: 825px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .black {
    background-color: $gray-900;
  }

  .gray {
    background-color: $gray-50;
  }
</style>
