---
interface Props {
  text: string
  to: string
  primary?: boolean
  white?: boolean
}

const { text, to, primary, white }: Props = Astro.props;
---

<a class:list={['button', { "primary-button": primary, "white-button": white }]} href={to}>{ text }</a>

<style lang="scss">
  @import '/src/styles/variables.scss';

  .button {
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: $black;
    width: max-content;
    display: block;
    transition: all 0.3s;

    &:hover {
      filter: grayscale(.8);
    }
  }

  .primary-button {
    background-color: $primary-500;
    border: 1px solid $primary-500;
    color: $white;
  }

  .white-button {
    border: 1px solid $primary-500;
    color: $primary-500;
  }
</style>